@using PagedList.Mvc
@model PagedList.IPagedList<Demo.WebSite.Mvc.Routing.Models.CertifiedItem>


@{
	ViewBag.Title = "Index";
}

<div class="pagedList" data-oft-target="#batchList">
	@Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
		PagedListRenderOptions.ClassicPlusFirstAndLast)
</div>


<table>
	<thead>
		<tr>
			<th>CertifiedItemID</th>
			<th>CertifiedBatchID</th>
		</tr>
	</thead>
	<tbody id="batchList">
		@foreach (var certifiedItem in Model)
		{
			<tr>
				<td>@certifiedItem.CertifiedItemID</td>
				<td>@certifiedItem.CertifiedBatchID</td>
			</tr>
		}
	</tbody>
</table>









